* {
    border: 0;
    padding: 0;
    margin: 0;
}

/* label color */

.input-field label {
    color: #000;
}

/* label focus color */

.input-field input[type=text]:focus+label {
    color: rgb(0, 0, 0);
}

/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */

.input-field .prefix.active {
    color: #000;
}

.progress-container {
    display: flex;
    align-items: center;
    height: 10px;
    width: 100%;
    background-color: rgb(83, 95, 107);
}

.progress-bar {
    height: 8px;
    width: 0%;
    background-color: aliceblue
}

.parallax {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.parallax:nth-child(1) {
    background-image: url(./images/background0.jpg);
    background-size: cover;
}

.parallax:nth-child(2) {
    background-image: url(./images/qbkls.png);
}

.parallax:nth-child(3) {
    background-image: url(./images/background1.jpg);
    background-size: cover;
}

.parallax:nth-child(4) {
    background-image: url(./images/qbkls.png);
}

.parallax:nth-child(5) {
    background-image: url(./images/background2.jpg);
}

.parallax:nth-child(6) {
    background-image: url(./images/qbkls.png);
}

.page-footer, nav {
    background-color: slategray;
}

@media screen and (max-width:640px) {}