body {
    background-image: url(./images/frontpagebackground.jpg);
    background-repeat: repeat;
}

a {
    color: grey;
}

a:hover {
    text-decoration: none;
    color: black;
}

h1 {
    color: blue;
    box-shadow: 3px 3px 10px black;
    border-radius: 0%;
}

h1:hover {
    text-shadow: 3px 3px 3px black;
}

.card {
    margin-top: 10px;
}